<div id="tweetContainer">
  <h1>Welcome to Steven's twitter</h1>
  <form action='/tweet' method='post' id='tweet'>
    <input type='text' name='tweet' placeholder="tweet message">
    <input type='submit' name='submit' value='Tweet!'>
  </form>

</div>
